
@model Vesperr.Models.ModelBinding.AllModels



<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">@Model.headers.title</h1>
                <h2 data-aos="fade-up" data-aos-delay="400">@Model.headers.comment</h2>
                <div data-aos="fade-up" data-aos-delay="800">
                    <a href="#about" class="btn-get-started scrollto">Get Started</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
                <img src="~/assets/img/@Model.headers.photo" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<!-- ======= Clients Section ======= -->
<section id="clients" class="clients clients">
    <div class="container">

        <div class="row">

            @foreach (var item in Model.clientsections)
            {
            <div class="col-lg-2 col-md-4 col-6">
                <img src="~/assets/img/clients/@item.photo" class="img-fluid" alt="" data-aos="zoom-in">
            </div>
            }
            

        </div>

    </div>
</section><!-- End Clients Section -->
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>About Us</h2>
        </div>

        <div class="row content">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
                <p>
                   @Model.abouts.title
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i>@Model.abouts.comment1</li>
                    <li><i class="ri-check-double-line"></i>@Model.abouts.comment2</li>
                    <li><i class="ri-check-double-line"></i>@Model.abouts.comment3</li>
                </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
                <p>
                    @Model.abouts.article
                </p>
                <a href="#" class="btn-learn-more">Learn More</a>
            </div>
        </div>

    </div>
</section><!-- End About Us Section -->
<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
    <div class="container">

        <div class="row">
            <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start" data-aos="fade-right" data-aos-delay="150">
                <img src="~/assets/img/@Model.abouts.photo" alt="" class="img-fluid">
            </div>

            <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-left" data-aos-delay="300">
                <div class="content d-flex flex-column justify-content-center">
                    <div class="row">
                        @foreach (var item in Model.aboutcounts)
                        {
                            <div class="col-md-6 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="@item.icon"></i>
                                    <span data-purecounter-start="0" data-purecounter-end="@item.count" data-purecounter-duration="1" class="purecounter"></span>
                                    <p><strong>@item.Strongtitle</strong> @item.title </p>
                                </div>
                            </div>
                        }

                    </div>
                </div><!-- End .content-->
            </div>
        </div>

    </div>
</section><!-- End Counts Section -->
<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Services</h2>
            <p>Magnam dolores commodi suscipit eius consequatur ex aliquid fug</p>
        </div>

        <div class="row">
            @foreach (var item in Model.servicesections)
            {
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="@item.icon"></i></div>
                        <h4 class="title"><a href="">@item.title</a></h4>
                        <p class="description">@item.description</p>
                    </div>
                </div>
            }

        </div>

    </div>
</section><!-- End Services Section -->
<!-- ======= More Services Section ======= -->
<section id="more-services" class="more-services">
    <div class="container">

        <div class="row">
            @foreach (var item in Model.moreservicesections)
            {
                <div class="col-md-6 d-flex align-items-stretch">
                    <div class="card" style='background-image: url("assets/img/@item.photo");' data-aos="fade-up" data-aos-delay="100">
                        <div class="card-body">
                            <h5 class="card-title"><a href="">@item.title</a></h5>
                            <p class="card-text">@item.description</p>
                            <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
</section><!-- End More Services Section -->
<!-- ======= Features Section ======= -->
<section id="features" class="features">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Features</h2>
            <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="300">
            @foreach (var item in Model.features)
            {
                var myStyle = "";
                var design = "";
                if (item.id == 1) {
                    myStyle = "color:#ffbb2c;";
                    design = "col-lg-3 col-md-4";
                }
                if (item.id == 2)
                {
                    myStyle = "color:#5578ff;";
                    design = "col-lg-3 col-md-4 mt-4 mt-md-0";
                }
                if (item.id == 3)
                {
                    myStyle = "color:#e80368;";
                    design = "col-lg-3 col-md-4 mt-4 mt-md-0";
                }
                if (item.id == 4)
                {
                    myStyle = "color:#e361ff;";
                    design = "col-lg-3 col-md-4 mt-4 mt-lg-0";
                }
                if (item.id == 5)
                {
                    myStyle = "color: #47aeff;";
                    design = "col-lg-3 col-md-4 mt-4";

                }
                if (item.id == 6)
                {
                    myStyle = "color: #ffa76e;";
                    design = "col-lg-3 col-md-4 mt-4";

                }
                if (item.id == 7)
                {
                    myStyle = "color: #11dbcf;";
                    design = "col-lg-3 col-md-4 mt-4";

                }
                if (item.id == 8)
                {
                    myStyle = "color: #4233ff;";
                    design = "col-lg-3 col-md-4 mt-4";

                }
                if (item.id == 9)
                {
                    myStyle = "color: #b2904f;";
                    design = "col-lg-3 col-md-4 mt-4";

                }
                if (item.id == 10)
                {
                    myStyle = "color: #b20969;";
                    design = "col-lg-3 col-md-4 mt-4";

                }
                if (item.id == 11)
                {
                    myStyle = "color: #ff5828;";
                    design = "col-lg-3 col-md-4 mt-4";

                }
                if (item.id == 12)
                {
                    myStyle = "color: #29cc61;";
                    design = "col-lg-3 col-md-4 mt-4";

                }
               


            <div class="@design">
                <div class="icon-box">
                    <i class="@item.icon" style="@myStyle"></i>
                    <h3><a href="">@item.title</a></h3>
                </div>
            </div>
            }

        </div>

    </div>
</section><!-- End Features Section -->
<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Testimonials</h2>
            <p>Magnam dolores commodi suscipit eum quidem consectetur velit</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                @foreach (var item in Model.testimionals)
                {
                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="~/assets/img/testimonials/@item.photo" class="testimonial-img" alt="">
                                <h3>@item.fullname</h3>
                                <h4>@item.job</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    @item.description
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div>

                }

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section><!-- End Testimonials Section -->
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Portfolio</h2>
            <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">App</li>
                    <li data-filter=".filter-card">Card</li>
                    <li data-filter=".filter-web">Web</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">

            @foreach (var item in Model.portfolios)
            {
                var category = "";
                if (item.category == "App")
                {
                    category = "filter-app";
                }
                if (item.category == "Web")
                {
                    category = "filter-web";
                }
                if (item.category == "Card")
                {
                    category = "filter-card";
                }

                <div class="col-lg-4 col-md-6 portfolio-item @category">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/portfolio/@item.photo" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>@item.name</h4>
                            <p>@item.category</p>
                            <div class="portfolio-links">
                                <a href="~/assets/img/portfolio/@item.photo" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</section><!-- End Portfolio Section -->
<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Team</h2>
            <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem</p>
        </div>

        <div class="row">
            @foreach (var item in Model.teams)
            {
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="100">
                        <div class="member-img">
                            <img src="~/assets/img/team/@item.photo" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>@item.fullname</h4>
                            <span>@item.jobname</span>
                        </div>
                    </div>
                </div>

            }

        </div>

    </div>
</section><!-- End Team Section -->
<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
    <div class="container">

        <div class="section-title">
            <h2>Pricing</h2>
            <p>Sit sint consectetur velit nemo qui impedit suscipit alias ea</p>
        </div>

        <div class="row">
            @foreach (var item in Model.pricings)
            {

            <div class="col-lg-4 col-md-6">
              
                        
                        <div class="box @(item.id==2 ? "recommended":"") " data-aos="zoom-in-right" data-aos-delay="200">
                            <h3>@item.type</h3>
                            <h4><sup>$</sup>@item.price<span> / @item.time</span></h4>
                            <ul>
                                <li>@item.title1</li>
                                <li>@item.title2</li>
                                <li>@item.title3</li>
                                <li class="na">@item.title4</li>
                                <li class="na">@item.title5</li>
                            </ul>
                            <div class="btn-wrap">
                                <a href="#" class="btn-buy">Buy Now</a>
                            </div>
                        </div>
                    </div>
                }

                @*<div class="col-lg-4 col-md-6">
            <div class="box" data-aos="zoom-in-right" data-aos-delay="200">
                <h3>Free</h3>
                <h4><sup>$</sup>0<span> / month</span></h4>
                <ul>
                    <li>Aida dere</li>
                    <li>Nec feugiat nisl</li>
                    <li>Nulla at volutpat dola</li>
                    <li class="na">Pharetra massa</li>
                    <li class="na">Massa ultricies mi</li>
                </ul>
                <div class="btn-wrap">
                    <a href="#" class="btn-buy">Buy Now</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box recommended" data-aos="zoom-in" data-aos-delay="100">
                <h3>Business</h3>
                <h4><sup>$</sup>19<span> / month</span></h4>
                <ul>
                    <li>Aida dere</li>
                    <li>Nec feugiat nisl</li>
                    <li>Nulla at volutpat dola</li>
                    <li>Pharetra massa</li>
                    <li class="na">Massa ultricies mi</li>
                </ul>
                <div class="btn-wrap">
                    <a href="#" class="btn-buy">Buy Now</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in-left" data-aos-delay="200">
                <h3>Developer</h3>
                <h4><sup>$</sup>29<span> / month</span></h4>
                <ul>
                    <li>Aida dere</li>
                    <li>Nec feugiat nisl</li>
                    <li>Nulla at volutpat dola</li>
                    <li>Pharetra massa</li>
                    <li>Massa ultricies mi</li>
                </ul>
                <div class="btn-wrap">
                    <a href="#" class="btn-buy">Buy Now</a>
                </div>
            </div>
        </div>*@

            </div>

    </div>
</section><!-- End Pricing Section -->
<!-- ======= F.A.Q Section ======= -->
<section id="faq" class="faq">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Frequently Asked Questions</h2>
        </div>
        @foreach (var item in Model.questions)
        {
            var delay = 100;
            <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="@delay">
                <div class="col-lg-5">
                    <i class="ri-question-line"></i>
                    <h4>@item.question</h4>
                </div>
                <div class="col-lg-7">
                    <p>
                       @item.answer
                    </p>
                </div>
            </div><!-- End F.A.Q Item-->
            delay += 100;
        }
        

    </div>
</section><!-- End F.A.Q Section -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Contact Us</h2>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="contact-about">
                    <h3>Vesperr</h3>
                    <p>@Model.contacts.description</p>
                    <div class="social-links">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
                <div class="info">
                    <div>
                        <i class="ri-map-pin-line"></i>
                        <p>@Model.contacts.street<br>@Model.contacts.city</p>
                    </div>

                    <div>
                        <i class="ri-mail-send-line"></i>
                        <p>@Model.contacts.email</p>
                    </div>

                    <div>
                        <i class="ri-phone-line"></i>
                        <p>@Model.contacts.phone</p>
                    </div>

                </div>
            </div>

            <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
            </div>

        </div>

    </div>
</section><!-- End Contact Section -->
